.header {
  margin-top: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
    border: 5px solid white;

}

.navbar {
  display: flex;
  list-style: none;
  border-bottom: 2px solid white;
  padding: 10px;
  margin: 0;
}

.navbar li {
  color: white;
  padding: 10px;
  padding-right: 25px;
  margin-left: 8vw;
  font-size: 20px;
  cursor: pointer;
}

.navbar li:hover {
  background-color: rgb(70, 114, 114);
}

.homebtn {
  margin-right: auto;
}

.home{
  margin-right: 30vw;
}
@media screen and (max-width: 768px) {
  .navbar li {
      margin-left: 0vw;

}

.home{
  margin-right: 0vw;
}

.navbar {
  padding: 0px;
  width: 100%;
}
}
@media screen and (max-width: 480px) {
  .navbar li {
    margin-left: 0;

}
.navbar {
  
  padding: 0;
}
.home{
  margin-right: 0vw;
}
}